<!-- 1e versie hoofdmenu -->

 <!-- <button routerLinkActive="active" routerLink="/products" class="product-page-knop">
    <img [src]="shoppingCartimg" [alt]="shoppingCartAlt">
    <mat-icon>home</mat-icon>
</button>
<button routerLink="/login">
    <mat-icon>account_circle</mat-icon>
</button> -->

<!-- 1e iteratie hoofdmenu, nog steeds buttons -->

<!-- <nav>
  <a class="button"
     routerLink="/producten"
     routerLinkActive="activebutton"
     [routerLinkActiveOptions]="{ exact: false }"
     ariaCurrentWhenActive="page">
    <mat-icon>home</mat-icon>
  </a> |
  <a class="button"
  routerLink="/winkelmandje"
  routerLinkActive="activebutton"
  ariaCurrentWhenActive="page">
 <mat-icon>shopping_bag</mat-icon>
</a> |
  <a class="button"
   routerLink="/orders"
   routerLinkActive="activebutton"
   ariaCurrentWhenActive="page">
  <mat-icon>local_shipping</mat-icon>
  </a> |
  <a class="button"
     routerLink="/login"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    <mat-icon>account_circle</mat-icon>
  </a>
  <button (click)="useLanguage('nl')" >nl</button>
  <button (click)="useLanguage('en')" >en</button>

  </nav> -->

<!-- 2e iteratie hoofdmenu -->
 <!-- vereisten uiterlijk:
  1. buttons bevatten nog steeds enkel icons
  2. buttons linken door met router die ze verbindt met de juiste pagina
  vereisten positie:
  1. buttons zijn horizontaal uitgelijnd
  2. buttons zijn verticaal gecentreerd
  3. buttons zijn responsive
  4. buttons zijn in een flexbox
  5. "producten" button is de default button & staat aan de linkerkant
  6. "winkelmandje" button staat aan de rechterkant
  7. "orders" button staat aan de rechterkant na "winkelmandje"
  8. "account" button staat aan de rechterkant na "orders"
  9. "account" button is de laatste button
  nieuwe functionaliteit:
  in het midden staan een input veld, met auto-complete, die zoekt in de producten.
  1. input veld is een mat-form-field
  2. input veld is een mat-autocomplete
  3. input veld filtert de producten op naam
  4. filtering gebeurt met een pipe
  5. filtering zorgt ervoor dat erop juiste product word gefilterd met de product card.
   -->
<nav>
  <a class="button"
     routerLink="/producten"
     routerLinkActive="activebutton"
     [routerLinkActiveOptions]="{ exact: false }"
     ariaCurrentWhenActive="page"
     (click)="showSearch()">
    <mat-icon>home</mat-icon>
  </a>
  <div class="search-container" *ngIf="isSearchVisible">
    <mat-form-field appearance="fill">
      <mat-label>{{"HEADER_QUERY" | translate}}</mat-label>
      <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProductSelected($event.option.value)">
        <mat-option *ngFor="let product of (filteredOptions | async)" [value]="product">
          {{ product }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="button-utilities-container">
    <a class="button"
       routerLink="/winkelmandje"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page"
       (click)="hideSearch()">
      <mat-icon>shopping_bag</mat-icon>
    </a>
    <a class="button"
       routerLink="/orders"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page"
       (click)="hideSearch()">
      <mat-icon>local_shipping</mat-icon>
    </a>
    <a class="button"
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      (click)="hideSearch()">
      <mat-icon>account_circle</mat-icon>
    </a>
    <a class="button"
      aria-label="logout"
      *ngIf="loginService.isLoggedIn()"
      (click)="loginService.logout()">
      <mat-icon>logout</mat-icon>
    </a>
    <a class="button"
      aria-label="Contrast Mode"
      (click)="contrastMode()">
      <mat-icon>contrast</mat-icon>
    </a>
    <div class="language-switch">
      <button mat-button (click)="switchLanguage('nl')" aria-label="Nederlands">
        <img src="../../assets/netherlands.png" alt="Nederlands" class="flag-icon">
      </button>
      <button mat-button (click)="switchLanguage('en')" aria-label="English">
        <img src="../../assets/united-kingdom.png" alt="English" class="flag-icon">
      </button>
    </div>
  </div>
</nav>

