SPRING_APPLICATION_NAME_MUSIC_SHACK=LuxuryProductsWebshopAPI_demo
SPRING_DATASOURCE_URL_MUSIC_SHACK=jdbc:postgresql://<any-ip>:<whatever_postgresql_database_port>/<whatever_port>
SPRING_DATASOURCE_USERNAME_MUSIC_SHACK=username
SPRING_DATASOURCE_PASSWORD_MUSIC_SHACK=password
JWT_SECRET=Your_custom_secret
BACKEND_URL_MUSIC_SHACK=http://<backend_URL>
SPRING_JPA_HIBERNATE_DDL_AUTO=<status>
JWT_EXPIRATION=Your_custom_expiry
BACKEND_SERVER_PORT=<whatever_backend_port>
ALLOWED_ORIGIN=http://<domain_of_allowed_origin>
API_URL=http://<ip_of_API>
POSTGRES_DB=<Database_name>
POSTGRES_USER=<username_db_server>
POSTGRES_PASSWORD=<password_of_db_server>
allowed_origin=http://<domain_of_allowed_origin>
