SPRING_APPLICATION_NAME=MusicWebshopAPI
SPRING_DATASOURCE_URL=jdbc:postgresql://<ip>:<port>/<db_name>
SPRING_DATASOURCE_USERNAME=<username_that_owns_db>
SPRING_DATASOURCE_PASSWORD=<password_of_user_that_owns_db>
BACKEND_SERVER_PORT=<BACKEND_SERVER_PORT>
JWT_SECRET=<JWT_SECRET>
JWT_EXPIRATION=3600000
