node_modules
.angular/
/.angular/
/dist/
/.vscode/
/.idea/
/dist/webshop/
/dist/webshop/browser/
/dist/webshop/browser/assets/
/dist/webshop/browser/assets/account_circle.png
/dist/webshop/browser/assets/contrast.png
/dist/webshop/browser/assets/local_shipping.png
/dist/webshop/browser/assets/shopping_bag.png
/dist/webshop/browser/assets/shoppingCart.png
/dist/webshop/browser/assets/translate.png
/dist/webshop/browser/main-CEXJ6MK3.js
/dist/webshop/3rdpartylicenses.txt
/dist/webshop/prerendered-routes.json
.vscode/

