<h2>Winkelmandje</h2>

<section>
  <ul *ngIf="cartItems().length > 0; else emptyCart">
    @for (item of cartItems(); track item.id) {
      <li>
        <img [src]="item.imageurl" alt="{{ item.name }}">
        <h3>{{ item.name }}</h3>
        <p>Prijs: €{{ item.price }}</p>
        <p>Aantal: {{ item.quantity }}</p>
        <button (click)="removeItem(item.id)">Verwijderen</button>
      </li>
    }
  </ul>
  <p *ngIf="cartItems().length > 0">Totale prijs: €{{ totalPrice() }}</p>
  <button routerLink="/afrekenen">Afrekenen</button>
</section>

<ng-template #emptyCart>
  <p>Je winkelmandje is leeg.</p>
</ng-template>

<button *ngIf="cartItems().length > 0" (click)="clearCart()">Winkelmandje leegmaken</button>
