<section>
    <h2>{{ title() }}</h2>
    @if (isFetching() && !error()) {
        <p class="fallback-text">Verkijgen van producten...</p>
    }

    @if (error()) {
        <p class="fallback-text">{{ error() }}</p>
    }

    @if (receivedProducts) {
        <!-- @for (product of products(); track product.id) { -->
            <!-- <app-product [product]="products()!" /> -->
        <!-- } -->


        <app-product [products]="receivedProducts" />
    } @else if (receivedProducts) {
        <p class="fallback-text">Het in laden van de producten is niet gelukt.</p>
    }
    <!-- @for (product of products; track $index) {
        <app-product [product]="product" />
    } -->
</section>
