/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.dark-mode {
    background-color: #e27575; // Dark mode background color
    color: #ffffff; // Dark mode text color
}
body.dark-mode .productcard {
    background-color: #e7a52a; // Dark mode background color
    color: #ffffff; // Dark mode text color
}
